@model KoursProject.Models.AddInvoicesViewModel

@{
}

<h1>Добавление нового типа накладной</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Тип накладной</label>
        <input type="text" class="form-control" asp-for="InvoiceType">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Описание</label>
        <input type="text" class="form-control" asp-for="Descrption">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>