@model IList<KoursProject.Models.Domain.Invoices>

@{
}

<h1>Накладные</h1>
<a type="submit" class="btn btn-primary" asp-area="" asp-controller="Invoices" asp-action="Add">Добаить запись в таблицу</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Тип накладной</th>
            <th>Описание</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoices in Model)
        {
            <tr>
                <td>@invoices.Id</td>
                <td>@invoices.InvoiceType</td>
                <td>@invoices.Descrption</td>
                <td><a href="Invoices/View/@invoices.Id">Просмотреть</a></td>
            </tr>
        }
    </tbody>
</table>