@model KoursProject.Models.AddAutosViewModel

@{
}

<h1>Add Test</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Автомобиль</label>
        <input type="text" class="form-control" asp-for="Car">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Гос. регистрационный знак</label>
        <input type="text" class="form-control" asp-for="Carnumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Состояние</label>
        <input type="text" class="form-control" asp-for="Condition">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>