@model IList<KoursProject.Models.Domain.Autos>

@{
}

<h1>Autos</h1>
<a type="submit" class="btn btn-primary" asp-area="" asp-controller="Autos" asp-action="Add">Добаить запись в таблицу</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Автомобиль</th>
            <th>Гос. регистрационный знак</th>
            <th>Состояние</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.Id</td>
                <td>@test.Car</td>
                <td>@test.Carnumber</td>
                <td>@test.Condition</td>
                <td><a href="Autos/View/@test.Id">Просмотреть</a></td>
            </tr>
        }
    </tbody>
</table>