@model KoursProject.Models.UpdateAutosViewModel

@{
}

<h1>Edit Autos</h1>
<form method="post" action="View">
    <div class="mb-3">
        <label for="" class="form-label">Car</label>
        <input type="text" class="form-control" asp-for="Car">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Carnumber</label>
        <input type="text" class="form-control" asp-for="Carnumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Condition</label>
        <input type="text" class="form-control" asp-for="Condition">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Autos">Delete</button>
</form>